body{
    background-image: url(bg.png);
    background-size: contain;
    background-attachment: fixed;
    
}

nav{
    padding-right: 40px;
  }

/* moving image text  */
img{
    display: block;
    margin: 0 auto;
    width: 44%;
    height: auto;
    z-index: 90;

    transition: 1s ease-in-out;
}

.container{
   position: relative;
   display: flex;
   align-items: center; 
   z-index: 10; 
}

.date{
    font-size: 300px;
    font-family: "chicago-mn", sans-serif;
    position: absolute;
    left: -5px;
    z-index: 1;
}

.text-box {
    z-index: 20;
    width: fit-content; 
    padding: 10px 70px; 
    background-color: #ffffff5b;
    backdrop-filter: blur(6px); 
    border-radius: 30px;
    font-family: Courier, monospace;
    color: #333; 
    text-align: left;
    line-height: 3em;
    position: absolute;
    opacity: 0; 
    transition: opacity 1000ms ease, transform 1000ms ease; 
    right: 10%;
}

img:hover {
    transform: translateX(-280px);
}

.container:hover .text-box {
    opacity: 1;
    transform: translateX(0); 
}



/* change text button */
button{
    font-family: 'Courier New', Courier, monospace;
    text-align: right; 
    position: absolute; 
    top: 470; 
    right: 160;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


